[Desktop Entry]
Version=1.0
Name=Blender
Comment=Bu bir modelleme uygulamasidir
Exec=/home/oihd/app/blender/blender
Path=/home/oihd/app/blender/
Icon=Blender
Terminal=true
Type=Application
Categories=Utility;Development;
