[Desktop Entry]
Version=1.0
Name=Godot
Comment=Acik kaynak oyun gelistirme programi
Exec=/home/oihd/app/godot/godot
Path=/home/oihd/app/godot/
Icon=applications-games
Terminal=true
Type=Application
Categories=Utility;Development;
