[Desktop Entry]
Version=1.0
Name=Keepassxc
Comment=Bu bir sifreleme uygulamasidir
Exec=/home/oihd/app/appimage/KeePassXC-2.7.1-x86_64.AppImage
Icon=keepassx
Terminal=false
Type=Application
Categories=Utility;Development;
