[Desktop Entry]
Version=5.1
Name=Unreal Engine
Comment=Best app for play with best waifus
Exec=sh unreal.sh
Path=/home/oihd/app/bin/unreal/
Icon=/home/oihd/app/bin/unreal/Engine/Content/Splash/IconDefault.bmp
Terminal=false
Type=Application
Categories=Utility;Development;
